# Entornos Virtuales
venv/
.venv/
env/

# Caché de Python
__pycache__/
*.py[cod]

# Archivos del Sistema Operativo y Editor
.DS_Store
.vscode/

# Bases de datos locales
*.sqlite3
*.db

# ==========================================
# Datos y Archivos Generados
# ==========================================
# Ignorar todos los CSVs generados por el código
normalized/

# (Descomenta la siguiente línea si tampoco quieres subir los originales)
# data/raw/*.csv